.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }
  
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
  
  .fas {
    color: #000000;
  }

  .dropdown-menu > .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  .nav-item .nav-link{
    color: #000000;
  }
  
.dropdown{
  padding-bottom: 3%;
}

.btn {
  color: #000000 !important;
  font-size: 15px;
  font-weight: 500;
  padding: 0.4em 1.1em;
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #000000;
  transition: all 1s ease;
  text-decoration: none;
}
.btn:hover {
  background: #000000;
  color: #ffffff !important;
}